@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: #f7e39c;
  text-align: center;
  margin: 0;
}

.content {
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #d13325;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #f7e39c;
  margin: 0 4px;
}

nav a:hover {
  color: black;
}

a {
  color: black
}